# Change to a long random string! Used to secure the website in general.
SECRET_KEY='addsecrethere'

# Twitter app token and secret. (used by Tweepy)
TWITTER_CONSUMER_TOKEN='addtokenhere'
TWITTER_CONSUMER_SECRET='addsecrethere'
