# Change to a long random string! Used to secure the website in general.
SECRET_KEY='addsecrethere'

# Twitter app token and secret. (used by Tweepy)
TWITTER_CONSUMER_TOKEN='addtokenhere'
TWITTER_CONSUMER_SECRET='addsecrethere'

# Individual token and secret. (used by Tweepy)
# You need to go through an OAuth to get for a specific user (e.g. yourself)
# https://github.com/tweepy/tweepy/blob/master/docs/auth_tutorial.rst
TWITTER_OAUTH_TOKEN='addtokenhere'
TWITTER_OAUTH_VERIFIER='addverifierhere'
