<div class="row">

  <div class="col-sm-6">
    <h1 class="text-center">Change&nbsp;CLIA: allow&nbsp;sharing!</h1>

    <p class="lead text-center">
      <b>Stop prohibiting return of <nobr>"non-CLIA"</nobr> research&nbsp;data.</b>
    </p>

  <p class="lead text-center">
    We call for CMS to issue a guidance<br>
    describing criteria for an exception to<br>
    the prohibition of return of results from<br>
    non-CLIA-certified research labs.
  </p>

  </div>

  <div class="col-sm-6">
    <h3>Why this matters.</h3>
    <p>
      The Center for Medicaid and Medicare Services (CMS) supports a
      controversially broad interpretation of the Clinical Laboratory
      Improvement Amendments (CLIA), with a blanket prohibition on
      returning individual data from labs that are not CLIA certified.
    </p>
    <p>
      <b>As a result, a research participant can consent to sharing their data
      with anyone on earth – except themselves!</b>
    </p>
    <p>
      This bizarre outcome is legally contested. Others have described
      interpretations that do not result in a wholesale prohibition
      on return of data.
    </p>
    <a href="{% url 'why' %}">Read more...</a>
  </div>

</div>
