{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}Change CLIA: Join our call!{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

  <div class="row">
    <div class="col-sm-6">
      <h1>Thank you for adding your voice!</h1>

      {% if not user.profile.twitter and twitter_auth_url or user.email and not user.profile.emailaddress.verified %}
        <h2>Take an extra step...</h2>

        {% if not user.profile.emailaddress.verified %}
        <h3>Confirm your email.</h3>
        <p>
          Confirm you're you! Check your email for a confirmation link, or click the
          button below to send a new confirmation.
        </p>
        <form action="{% url 'resend_confirmation' %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Resend confirmation" />
        </form>
        {% endif %}

        {% if not user.profile.twitter and twitter_auth_url %}
        <h3>Connect Twitter</h3>
        <p>
          A little extra to help folks know you! We use follower counts to highlight
          some of our highest profile signatures.
        </p>
        <a class="btn btn-default btn-md" href="{{ twitter_auth_url }}">
          Connect Twitter</a>
        {% endif %}
      </div>
      {% endif %}

    <div class="col-sm-6">
      <h3>Your details.</h3>

      {% include 'clia_petition/partials/profile_info.html' %}

      <a href="{% url 'profile_edit' %}">Click here to edit profile details.</a>
    </div>
  </div>

  <hr>
  {% endif %}

  {% include 'clia_petition/partials/petition_description.html' %}

  <hr>

  <div class="row">

    <div class="col-sm-6">
      <h3>High profile signatures</h3>

      <div>
        <div>
          <div style="width:30%;display:inline-block;">Name</div>
          <div style="width:20%;display:inline-block;">Twitter</div>
          <div style="width:15%;display:inline-block;">Email conf</div>
          <div style="width:30%;display:inline-block;">Date</div>
        </div>
        {% for profile in sigs_by_followers|slice:":5" %}
          {% include 'clia_petition/partials/sig_info.html' %}
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-6">
      <h3>Recent signatures</h3>

      <div>
        <div>
          <div style="width:30%;display:inline-block;">Name</div>
          <div style="width:20%;display:inline-block;">Twitter</div>
          <div style="width:15%;display:inline-block;">Email conf</div>
          <div style="width:30%;display:inline-block;">Date</div>
        </div>
        {% for profile in sigs_by_date|slice:":5" %}
          {% include 'clia_petition/partials/sig_info.html' %}
        {% endfor %}
      </div>
    </div>

  </div>

  {% if not user.is_authenticated %}

  <hr>
  <div class="row">

    <div class="col-sm-6">

  <div class="well">
  <h2>Add your voice.</h2>
  {{ form.non_field_errors }}
  <form action="{% url 'home' %}" method="post">

    {% csrf_token %}
    <p>
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}<br>
      {{ form.email.help_text }}
    </p>

    <p>
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}">Name:</label>
      {{ form.name }}
      {{ form.name.help_text }}
    </p>

    <p>
    {{ form.us_status.errors }}
    <label for="{{id_us_status.id_for_label}}">Status:</label>
      {% for choice in form.us_status %}
        <div class="radio">
        {{ choice }}
        </div>
      {% endfor %}
    {{ form.us_status.help_text }}
  </p>

    <p>
      {{ form.comments.errors }}
      <label for="{{ form.comments.id_for_label }}">Comments:</label>
      {{ form.comments }}
      {{ form.comments.help_text }}
    </p>

    <p>
      <input type="submit" name="action" class="btn btn-default" value="Sign with email" />
    </p>

    <p>
      <input type="submit" name="action" class="btn btn-primary" value="Sign with Twitter account" />
    </p>

  </form>

  <p>
    Did you already sign – but want to update your information?
    <a href="{% url 'account_reset_password' %}">Request a login link.</a>
  </p>
  </div>
</div>
</div>
  {% endif %}

{% endblock content %}
