{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}Join our call!{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

  <h1>Thank you for adding your voice.</h1>

  {% if not user.profile.twitter and twitter_auth_url or not user.profile.emailaddress.verified %}
    <h2>Take an extra step!</h2>

    {% if not user.profile.emailaddress.verified %}
    <h3>Confirm your email.</h3>
    <p>
      Confirm you're you! Check your email for a confirmation link, or click the
      button below to send a new confirmation.
    </p>
    <form action="{% url 'resend_confirmation' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Resend confirmation" />
    </form>
    {% endif %}

    {% if not user.profile.twitter and twitter_auth_url %}
    <h3>Connect Twitter</h3>
    <p>
      A little extra to help folks know you! We use follower counts to highlight
      some of our highest profile signatures.
    </p>
    <a class="btn btn-default btn-md" href="{{ twitter_auth_url }}">
      Connect Twitter</a>
    {% endif %}
  {% endif %}

  <p>Your profile details are below.</p>
  {% include 'clia_petition/partials/profile_info.html' %}

  <a href="{% url 'profile_edit' pk=user.profile.id %}">Click here to edit profile details.</a>

  {% else %}

  <h1>This is a header.</h1>
  {{ form.non_field_errors }}
  <form action="{% url 'home' %}" method="post">

    {% csrf_token %}
    <p>
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
      {{ form.email.help_text }}
    </p>

    <p>
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}">Name:</label>
      {{ form.name }}
      {{ form.name.help_text }}
    </p>

    {{ form.us_status.errors }}
    <ul id="id_us_status">
      {% for choice in form.us_status %}
        <li>
        {{ choice.value }}
        {{ choice }}
        </li>
      {% endfor %}
    </ul>
    {{ form.us_status.help_text }}

    <p>
      {{ form.comments.errors }}
      <label for="{{ form.comments.id_for_label }}">Comments:</label>
      {{ form.comments }}
      {{ form.comments.help_text }}
    </p>

    <p>
      <input type="submit" name="action" value="Sign with email" />
    </p>

    <p>
      <input type="submit" name="action" value="Sign with Twitter account" />
    </p>

  </form>
  <hr>

  <p>
    Did you already sign – but want to update your information?
    <a href="{% url 'account_reset_password' %}">Request a login link.</a>
  </p>

  {% endif %}

<hr>

<h3>Sigs by date</h3>

{% for profile in sigs_by_date %}
  {{ profile.name }}<br>
  {{ profile.emailaddress.verified }}<br>
  @{{ profile.twitter }}<br>
  {{ profile.followers }}<br>
  {{ profile.user.join_date }}
{% endfor %}

<h3>Sigs by followers</h3>

{% for profile in sigs_by_followers %}
  {{ profile.name }}<br>
  {{ profile.emailaddress.verified }}<br>
  @{{ profile.twitter }}<br>
  {{ profile.followers }}<br>
  {{ profile.user.join_date }}
{% endfor %}

{% endblock content %}
