{% extends 'base.html' %}

{% block head_title %}Change CLIA: why this matters{% endblock %}

{% block content %}

<h1>Why this matters.</h1>
<p>
  The Center for Medicaid and Medicare Services (CMS) supports a
  controversially broad interpretation of the Clinical Laboratory
  Improvement Amendments (CLIA), with a blanket prohibition on
  returning individual data from labs that are not CLIA certified.
</p>
<p>
  <b>As a result, a research participant can consent to sharing their data
  with anyone on earth – except themselves!</b>
</p>
<p>
  This bizarre outcome is legally contested. Others have described
  interpretations that do not result in a wholesale prohibition
  on return of data.
</p>

<h2>Opinions and advocacy pieces</h2>

<p>
  Want to learn more? The opinion and advocacy pieces below explore the legal
  issues, ethics, and harmful consequences of the current CMS policy.
</p>

<ul>
  <li><a href="#">Our DNA Dystopia</a> – Madeleine Price Ball</li>
</ul>

<p><i>
  Have you written something that can be listed here? Get in touch with
  us, and we can add it to this list!
</i></p>
{% endblock content %}
